@font-face {
    font-family: before-the-rain;
    src: url("before_the_rain.ttf");
}

@font-face {
    font-family: dejavu;
    src: url("deja_vu.ttf");
}

body {
    background-color: black;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: dejavu;
}

.window-container {
    padding: 3vh 7vw 3vh 7vw;
    width: auto;
    height: 89vh;
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-template-rows: repeat(4, auto);
    grid-gap: 2vh 1vw;
}

.window, .window-open {
    font-family: before-the-rain;
}
.window {
    color: black;
    padding-top: 50px;
    padding-right: 50px;
    font-size: 30pt;
    text-align: right;
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.75);
}

.window:hover {
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 0px 8px 8px rgba(171, 171, 171, 0.5);
    cursor: pointer;
}

.window-open {
    padding-top: 30px;
    font-size: 20pt;
    color: white;
    text-align: center;
    background-size: cover;
    box-shadow: inset 0px 0px 100px 100px rgba(0, 0, 0, 0.8);
}

.window-open:hover {
    cursor: pointer;
    box-shadow: inset 0px 0px 100px 100px rgba(0, 0, 0, 0.6);
}

.image-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: rgba(0,0,0,0.8);
    padding-top: 5vh;
}

.window-content {
    margin: auto;
    display: block;
    max-height: 60vh;
}

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

#caption h1 {
    font-family: before-the-rain;
    font-size: 40pt;
}

#caption p {
    font-size: 20pt;
}

.window-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

#close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

#close:hover,
#close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
