@font-face {
    font-family: before-the-rain;
    src: url("before_the_rain.ttf");
}

@font-face {
    font-family: dejavu;
    src: url("deja_vu.ttf");
}

body {
    background-color: black;
    overflow: hidden;
    background-size: 100%;
    background-repeat: no-repeat;
    font-family: dejavu;
}

.window-container {
    padding: 3vh 7vw 3vh 7vw;
    width: auto;
    height: 89vh;
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-template-rows: repeat(4, auto);
    grid-gap: 2vh 1vw;
}

.window {
    font-family: before-the-rain;
    text-align: right;
    padding-right: 50px;
    padding-top: 50px;
    font-size: 30pt;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    box-shadow: inset -5px -5px 5px 5px rgba(0,0,0,0.75), -5px -5px 5px 5px rgba(171, 171, 171, 0.5);

}